.navbarContainer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 100vh;
}

.navbarList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.navlistItems {
  padding: 0.25rem;
  margin-left: 10%;
  cursor: pointer;
}

.navListActive {
  padding: 0.25rem;
  margin-left: 10%;
  background-color: var(--primary-color);
  border-radius: 0rem 1rem 1rem 0rem;
  cursor: pointer;
  color: var(--white);
}

.navlistItems:hover {
  background-color: var(--x-light-primary);
  border-radius: 0rem 1rem 1rem 0rem;
}
